// Style generic locus feature
foreignObject.loci {
    box-sizing: border-box;
    border-radius: .375rem;
    position: relative;
    display: block;
    // Style foreground (visible)
    div.foreground {
        // Define positioning
        position: relative;
        // Define visualization
        display: flex;
        height: 100%;
        width: 100%;
        // Style content
        justify-content: center;
        align-items: center;
        // Define border
        box-sizing: inherit;
        border-radius: inherit;
        border-width: 1px;
        border-style: solid;
        // Set fully visible
        opacity: 1;
    }
    // Style background (translucent)
    div.background {
        // Define positioning
        position: absolute;
        left: 0;
        top: 0;
        // Define visualization
        display: block;
        height: 100%;
        width: 100%;
        // Make background transparent
        opacity: 0.3;
    }
}