<!-- Section: introduction -->
<div>
    <h1>Structure viewer</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut elit ac sapien sagittis semper a egestas sem.
        Nulla sodales, nibh sit amet congue pharetra, mi ipsum placerat erat, vel suscipit mi urna id massa. Praesent
        venenatis nisl sed leo commodo scelerisque. Cras tempus posuere justo et imperdiet. Nulla facilisis nulla
        malesuada, ultrices libero vitae, lacinia lorem. Nam gravida tempus ultricies. Integer hendrerit neque mauris,
        in dapibus sapien egestas et. Nunc ut vehicula nunc. Ut malesuada nulla erat, id ornare turpis faucibus sit
        amet. Vestibulum congue volutpat ultricies.
    </p>
</div>
<!-- Section: try it out -->
<div>
    <h2>Try it out</h2>
    <!-- TODO Show input -->
    <code>
        const source = {{ source | json }}<br>
        const loci = {{ loci | json }}
    </code>
    <!-- TODO Show output -->
    <div style="display: block; height: 600px; width: 600px;">
        <ngx-structure-viewer [source]="source" [loci]="loci"></ngx-structure-viewer>
    </div>
</div>