<div class="container pt-3">
    <!-- Section: introduction -->
    <div class="mb-3">
        <h1>Structure viewer</h1>
        <p>
            The <b>ngx-structure-viewer</b> is a Mol* wrapper for Angular. It is a viewer for molecular structures and
            can be used to visualize and interact with 3D molecular structures. It works out of the box with the latest
            releases of Angular and automatized the most common features of Mol*.
        </p>
    </div>
    <!-- Section: choose sources -->
    <app-section-sources></app-section-sources>
    <!-- Section: color chains -->
    <!-- <app-section-chains></app-section-chains> -->
    <!-- Section: show contacts -->
    <!-- <app-section-interactions></app-section-interactions> -->
    <!-- Section: show highlights -->
    <!-- <app-section-highlights></app-section-highlights> -->
</div>