<div class="container pt-3">
    <!-- Section: introduction -->
    <div class="mb-3">
        <h1>Feature viewer</h1>
        <p>
            The feature viewer allows you to represent features on a reference seqeunce...
        </p>
    </div>
    <!-- Section: example -->
    <div class="d-flex flex-row gap-3 mb-3">
        <!-- TODO Remove this -->
        <div style="display: block; width: 1rem; height: 1rem; background: black; font-size: 1rem; line-height: 1rem;"></div>
        <div style="display: block; width: 1rem; height: auto; background: black; color: white; font-size: 1rem; line-height: .5rem;">W</div>
        <div style="display: block; width: auto; height: 1rem; background: black; color: white; font-size: 1rem; line-height: 1rem;">W</div>
    </div>
    <!-- Show output -->
    <div style="display: block; height: auto; width: 100%;">
        <ngx-features-viewer [sequence]="sequence" [features]="features" [settings]="settings"></ngx-features-viewer>
    </div>
</div>
