<div class="container pt-3">
  <!-- Section: introduction -->
  <div class="mb-3">
    <h1>Feature viewer</h1>
    <p>
      The feature viewer allows you to represent features on a reference seqeunce...
    </p>
  </div>
  <!-- Section: example -->
  <div class="row row-cols-2">
    @for (trace of traces; track trace) {
      @if (trace.options?.["content-size"]) {
        <div class="col d-flex gap-2 justify-content-center">
          <label [for]="trace.label!.replace(' ', '-')" class="form-label">Content size trace {{ trace.label }}</label>
          <input min="5" max="500" [value]="getTraceContentSize(trace.label!)"
                 (change)="updateContentSize($event, trace.label)" type="range" class="form-range"
                 [id]="trace.label!.replace(' ', '-')">
        </div>
      }
    }
  </div>
  <!-- Show output -->
  <div style="display: block; height: auto; width: 100%;">
    <ngx-features-viewer [sequence]="sequence" [traces]="traces" [settings]="settings.outer"
                         (selectedFeature)="onFeatureSelected($event)">
      <!-- Left label -->
      <ng-template let-trace="trace" ngx-features-viewer-label>
        <div class="d-flex h-100 w-100 justify-content-start pe-0 align-items-center font-monospace">
          <div [class.text-muted]="trace.nested?.length > 0 && !trace.expanded">
            {{ '&nbsp;'.repeat(trace.level) }}{{ trace.label }}
            @if (trace.nested?.length > 0) {
              <!-- Add symbol if expanded -->
              @if (trace.expanded) {
                <i class="bi bi-caret-down-fill"></i>
              } @else {
                <i class="bi bi-caret-right"></i>
              }
            }
          </div>
        </div>
      </ng-template>
      <!-- Right label -->
      <ng-template let-trace="trace" ngx-features-viewer-label where="right">
        test
      </ng-template>
      <!-- Tooltip template -->
      <ng-template let-trace="trace" let-feature="feature" let-index="index" let-coordinates="coordinates"
                   ngx-features-viewer-tooltip>
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">{{ feature.label }}</h5>
          </div>
          <div class="card-body">
            <p class="card-text">
              {{ index }}
            </p>
            <p class="card-text">
              {{ coordinates }}
            </p>
          </div>
        </div>

        <!--          <ngx-features-viewer [sequence]="sequence" [settings]="settings.inner" [traces]="[trace]">-->
        <!--            &lt;!&ndash; Define simple label left &ndash;&gt;-->
        <!--            <ng-template let-trace="trace" ngx-features-viewer-label>-->
        <!--              <div class="d-flex h-100 w-100 justify-content-start pe-0 align-items-center font-monospace">-->
        <!--                {{ trace.label }}-->
        <!--              </div>-->
        <!--            </ng-template>-->
        <!--          </ngx-features-viewer>-->
      </ng-template>
    </ngx-features-viewer>
  </div>
</div>
