<a
  class="nav-link dropdown-toggle text-white"
  role="button"
  data-bs-toggle="dropdown"
  aria-expanded="false"
>
  {{ latest()?.name }}
</a>
<ul class="dropdown-menu dropdown-menu-end">
  <!-- Use light theme -->
  <li>
    <a
      class="dropdown-item"
      type="button"
      [href]="$safeNavigationMigration(latest()?.url)"
    >
      Latest({{ current() }}) <i class="bi bi-box-arrow-up-right"></i>
    </a>
  </li>
  <div class="dropdown-divider"></div>
  @for (version of versionList(); track version; let i = $index; let isFirst =
  $first) {
  <li>
    <a
      class="dropdown-item"
      [class.fw-bold]="version.name == latest.name"
      type="button"
      [href]="version.url"
    >
      {{ version.name }} <i class="bi bi-box-arrow-up-right"></i>
    </a>
  </li>
  }
</ul>
