<!-- Outer scaffold -->
<div class="container pt-3">
    <!-- Inner grid -->
    <div class="row">
        <div class="col-12">
            <h1 class="mb-3">Products</h1>
        </div>
    </div>
    <div class="row align-items-stretch mb-3">
        <!-- Structure viewer -->
        <div class="col-4">
            <div class="card bg-body-tertiary cursor-pointer shadow-sm mb-3" routerLink="/structure">
                <h2 class="card-header bg-primary"><i class="bi bi-boxes me-3"></i> ngx-structure-viewer</h2>
                <div class="card-body">
                    <!-- <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    <!-- Image -->
                    <img src="assets/structure-viewer.png" class="w-100 h-auto" alt="Structure viewer">
                    <!-- Description -->
                    <p class="card-text">
                        Visualize and interact with 3D molecular structures.
                        Provides Mol* functionalities out-of-the-box for Angular developers.
                    </p>
                    <!-- Try it out -->
                    <div class="text-center mt-auto">
                        <span class="badge rounded-pill bg-primary">
                            Try it out <i class="bi bi-chevron-right"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Features viewer -->
        <div class="col-4">
            <div class="card bg-body-tertiary cursor-pointer shadow-sm mb-3" routerLink="/features">
                <h2 class="card-header bg-primary">
                    <i class="bi bi-sliders me-1"></i> ngx-features-viewer
                </h2>
                <div class="card-body">
                    <!-- <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    <!-- Image -->
                    <img src="assets/features-viewer.png" class="w-100 h-auto" alt="Features viewer">
                    <!-- Description -->
                    <p class="card-text">
                        The ultimate tool for Angular developers who want to visualize and interact
                        biological sequences and their features.
                    </p>
                    <!-- Try it out -->
                    <div class="text-center mt-auto">
                        <span class="badge rounded-pill bg-primary">
                            Try it out <i class="bi bi-chevron-right"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sequence viewer -->
        <div class="col-4">
            <div class="card bg-body-tertiary cursor-pointer shadow-sm mb-3" routerLink="/sequence">
                <h2 class="card-header bg-primary">
                    <i class="bi bi-body-text me-1"></i> ngx-sequence-viewer
                </h2>
                <div class="card-body">
                    <!-- Image -->
                    <img src="assets/sequence-viewer.png" class="w-100 h-auto" alt="Sequence viewer">
                    <!-- Description -->
                    <p class="card-text">
                        Angular native component for single sequences or multiple sequence alignments.
                        Does not require any third party library.
                    </p>
                    <!-- Try it out -->
                    <div class="text-center mt-auto">
                        <span class="badge rounded-pill bg-primary">
                            Try it out <i class="bi bi-chevron-right"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <!-- Enhanced interactivity -->
            <div class="card mb-3">
                <h2 class="card-header bg-primary">
                    <i class="bi bi-recycle me-1"></i> Enhanced interactivity
                </h2>
                <div class="card-body">
                    <!-- Description -->
                    <p class="card-text">
                        Our components are designed starting from the same, generic data structures. 
                        This allows to easily wire up multiple components in the same Angular component.
                        Hence, it provides component interaction out-of-the-box.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>