<!-- Outer scaffold -->
<div class="container pt-3">
    <!-- Inner grid -->
    <div class="row">
        <div class="col-12">
            <h1 class="mb-3">Components</h1>
        </div>
    </div>
    <div class="row align-items-stretch mb-3">
        <!-- Structure viewer -->
        <div class="col-4">
            <div class="card bg-body-tertiary cursor-pointer shadow-sm mb-3" routerLink="/structure">
                <h2 class="card-header text-white bg-primary"><i class="bi bi-boxes me-3"></i> ngx-structure-viewer</h2>
                <div class="card-body">
                    <!-- <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    <!-- Image -->
                    <img src="assets/previews/ngx-structure-viewer-light.png" class="w-100 h-auto light-only" alt="Structure viewer, light mode">
                    <img src="assets/previews/ngx-structure-viewer-dark.png" class="w-100 h-auto dark-only" alt="Structure viewer, dark mode">
                    <!-- Description -->
                    <p class="card-text mt-1">
                        Visualize and interact with 3D molecular structures.
                        Provides Mol* functionalities out-of-the-box for Angular developers.
                    </p>
                    <!-- Try it out -->
                    <div class="d-flex flex-row justify-content-center gap-3 mt-auto">
                        <a class="badge rounded-pill text-decoration-none bg-text-npm" href="https://www.npmjs.com/package/ngx-structure-viewer">
                            NPM Package <i class="bi bi-box-seam"></i>
                        </a>
                        <a class="badge rounded-pill text-decoration-none bg-primary" routerLink="/structure">
                            Try it out <i class="bi bi-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Features viewer -->
        <div class="col-4">
            <div class="card bg-body-tertiary cursor-pointer shadow-sm mb-3" routerLink="/features">
                <h2 class="card-header text-white bg-primary">
                    <i class="bi bi-sliders me-1"></i> ngx-features-viewer
                </h2>
                <div class="card-body">
                    <!-- <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    <!-- Image -->
                    <img src="assets/previews/ngx-features-viewer-light.png" class="w-100 h-auto light-only" alt="Features viewer, light mode">
                    <img src="assets/previews/ngx-features-viewer-dark.png" class="w-100 h-auto dark-only" alt="Features viewer, dark mode">
                    <!-- Description -->
                    <p class="card-text mt-1">
                        The ultimate tool for Angular developers who want to visualize and interact
                        biological sequences and their features.
                    </p>
                    <!-- Try it out -->
                    <div class="d-flex flex-row justify-content-center gap-3 mt-auto">
                        <a class="badge rounded-pill text-decoration-none bg-text-npm" href="https://www.npmjs.com/package/ngx-features-viewer">
                            NPM Package <i class="bi bi-box-seam"></i>
                        </a>
                        <a class="badge rounded-pill text-decoration-none bg-primary" routerLink="/features">
                            Try it out <i class="bi bi-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sequence viewer -->
        <div class="col-4">
            <div class="card bg-body-tertiary cursor-pointer shadow-sm mb-3" routerLink="/sequence">
                <h2 class="card-header bg-primary text-white">
                    <i class="bi bi-body-text me-1"></i> ngx-sequence-viewer
                </h2>
                <div class="card-body">
                    <!-- Image -->
                    <img src="assets/previews/ngx-sequence-viewer-light.png" class="w-100 h-auto light-only" alt="Sequence viewer">
                    <img src="assets/previews/ngx-sequence-viewer-dark.png" class="w-100 h-auto dark-only" alt="Sequence viewer">
                    <!-- Description -->
                    <p class="card-text mt-1">
                        Angular native component for single sequences or multiple sequence alignments.
                        Does not require any third party library.
                    </p>
                    <!-- Try it out -->
                    <div class="d-flex flex-row justify-content-center gap-3 mt-auto">
                        <a class="badge rounded-pill text-decoration-none bg-text-npm" href="https://www.npmjs.com/package/ngx-sequence-viewer">
                            NPM Package <i class="bi bi-box-seam"></i>
                        </a>
                        <a class="badge rounded-pill text-decoration-none bg-primary" routerLink="/sequence">
                            Try it out <i class="bi bi-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <!-- Enhanced interactivity -->
            <div class="card mb-3">
                <h2 class="card-header text-white bg-primary">
                    <i class="bi bi-recycle me-1"></i> Enhanced interactivity
                </h2>
                <div class="card-body">
                    <!-- Description -->
                    <p class="card-text">
                        Our components are designed starting from the same, generic data structures. 
                        This allows to easily wire up multiple components in the same Angular component.
                        Hence, it provides component interaction out-of-the-box.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
