<!-- Define header (navigation) -->
<header>
  <nav class="navbar">
    <div class="container-fluid justify-content-center">
      <a class="navbar-brand d-flex flex-row align-items-center gap-3" href="#">
        <img src="assets/ngx-biocomp-up-white.png" alt="ngx-biocomp-up" height="48">
        <h1 class="h2">ngx-biocomp-up</h1>
      </a>
    </div>
  </nav>
</header>
<!-- Define main content -->
<main>
  <router-outlet></router-outlet>
</main>
<!-- Define footer scaffold -->
<footer class="container-fluid bg-dark pt-2 pb-2">
  <!-- Acknowledgements -->
  <div class="row">
    <!-- Left side: BioCompUP -->
    <div class="col-3 d-flex justify-content-start">
      <img src="assets/biocomp-white.png" alt="BioComputing UP" height="36">
    </div>
    <!-- Center: my own GitHub -->
    <div class="col-6 d-flex align-items-center justify-content-center text-white">
      Developed by
      <a class="text-light small mx-2" href="https://github.com/damiclem">
        Damiano Clementel <i class="bi bi-github"></i>
      </a>
      &
      <a class="text-light small mx-2" href="https://github.com/alessiodelconte">
        Alessio Del Conte <i class="bi bi-github"></i>
      </a>
    </div>
    <!-- Right side: UniPD -->
    <div class="col-3 d-flex justify-content-end">
      <img src="assets/unipd-white.png" alt="University of Padua" height="36">
    </div>
  </div>
</footer>

