<!-- Inner scaffold  -->
<div class="row">
  <!-- Left column: structure viewer -->
  <div class="col-6">
    <div class="position-relative overflow-hidden squared rounded">
      <div class="position-absolute left-0 top-0 w-100 h-100 placeholder"></div>
      <ngx-structure-viewer 
        [settings]="settings$ | async"
        [source]="input$ | async"
        [loci]="loci$ | async"
      />
    </div>
  </div>
  <!-- Right column: sources -->
  <div class="col-6">
    <!-- Define choice between local and remote source -->
    <div class="d-flex flex-row gap-3 mb-3">
      <!-- Title -->
      <span>Source type:</span>
      <!-- Get current source -->
      @if (type$ | async; as type) {
        <!-- Select local source -->
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="sourceType" id="local-source" value="local" (click)="onTypeChange('local')" [checked]="type==='local'">
          <label class="form-check-label" for="local-source">Local</label>
        </div>
        <!-- Select remote source -->
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="sourceType" id="remote-source" value="remote" (click)="onTypeChange('remote')" [checked]="type==='remote'">
          <label class="form-check-label" for="remote-source">Remote</label>
        </div>
      }
    </div>
    <!-- Get selected source -->
    @if(source$ | async; as source) {
      <!-- Loop through each available source -->
      @for(_ of SOURCES; track i; let i=$index) {
        <!-- Outer scaffold -->
        <div class="rounded cursor-pointer mb-3" [class.text-bg-primary]="SOURCES[i] === source" (click)="onSourceChange(SOURCES[i])" aria-hidden="true">
          <!-- Show input JSON code -->
          <pre class="p-3 m-0"><code>{{ SOURCES[i] | json }}</code></pre>
        </div>
      }
    }
  </div>
  <!-- Bottom row: colored loci -->
  <div class="col-12">
    <!-- Add a button to shuffle colors -->
    <button class="btn btn-block btn-primary w-100 mb-3" (click)="onLociShuffle()">Shuffle colors</button>
    <!-- Show all the possible colors -->
    <div class="d-flex flex-row flex-wrap gap-3">
      <!-- Get current loci -->
      @if(loci$ | async; as loci) {
        <!-- Loop through all loci -->
        @for(locus of LOCI; track i; let i=$index) {
          <!-- Show each locus -->
          <div class="rounded" [style]="{ 'background-color': loci.includes(locus) ? locus.color : '' }">
            <pre class="p-3 m-0"><code>{{ locus | json }}</code></pre>
          </div>
        }
      }
    </div>
  </div>
</div>
