<div class="row mb-3">
  <!-- Source: local -->
  <div class="col-6">
    <h2>Upload local structure</h2>
    <div class="d-flex flex-row align-items-start gap-3 mb-3">
      <div class="d-block flex-grow-1">
        <div class="rounded squared bg-body-tertiary overflow-hidden">
          @if (local$ | async; as local) {
            <ngx-structure-viewer [settings]="settings" [source]="local"></ngx-structure-viewer>
          }
        </div>
      </div>
      <code class="d-block flex-shrink-0 bg-body-tertiary p-3">
        <pre class="mb-0">{{ local | json }}</pre>
      </code>
    </div>
  </div>
  <!-- Source: remote -->
  <div class="col-6">
    <h2>Download remote structure</h2>
    <div class="d-flex flex-row align-items-start gap-3 mb-3">
      <div class="d-block flex-grow-1">
        <div class="rounded squared bg-body-tertiary overflow-hidden">
          @if (remote$ | async; as remote) {
            <ngx-structure-viewer [settings]="settings" [source]="remote"></ngx-structure-viewer>
          }
        </div>
      </div>
      <code class="d-block flex-shrink-0 bg-body-tertiary p-3">
        <pre class="mb-0">{{ remote | json }}</pre>
      </code>
    </div>
  </div>
</div>
