<!-- Get current theme -->
@if (theme$ | async; as theme) {
  <!-- Open theme options -->
  <a class="nav-link dropdown-toggle text-white" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    <!-- Set icon according to choosen theme -->
    @switch (theme) {
      <!-- Light theme -->
      @case ('light') {
        <i class="bi bi-sun-fill"></i>
      }
      <!-- Dark theme -->
      @case ('dark') {
        <i class="bi bi-moon-stars-fill"></i>
      }
      <!-- Auto theme -->
      @default {
        <i class="bi bi-circle-half"></i>
      }
    }
  </a>
  <!-- Select theme options  -->
  <ul class="dropdown-menu dropdown-menu-end">
    <!-- Use light theme -->
    <li>
      <button class="dropdown-item" [class.fw-bold]="theme === 'light'" type="button" (click)="setTheme('light')">
        <i class="bi bi-sun-fill"></i> Light
      </button>
    </li>
    <!-- Use night theme -->
    <li>
      <button class="dropdown-item" [class.fw-bold]="theme === 'dark'" type="button" (click)="setTheme('dark')">
        <i class="bi bi-moon-stars-fill"></i> Dark
      </button>
    </li>
    <!-- Use system default -->
    <li>
      <button class="dropdown-item" [class.fw-bold]="theme === 'auto'" type="button" (click)="setTheme('auto')">
        <i class="bi bi-circle-half"></i> Auto
      </button>
    </li>
  </ul>
}